In [11]:
# Dependencies
import pandas as pd
import seaborn as sns

from sqlalchemy import create_engine

In [12]:
# Create database connection
connection_string= 'postgresql+psycopg2://postgres:Mybeyonce1@localhost:5432/poblacion_db'
engine = create_engine(connection_string)

### Get the AVG of AGE for male and female

In [18]:
pd.read_sql('select * from poblacion_table', engine).groupby('nom_ent')['pobtot'].sum()

nom_ent
Aguascalientes                      1425607
Baja California                     3769020
Baja California Sur                  798447
Campeche                             928363
Chiapas                             5543828
Chihuahua                           3741869
Ciudad de México                    9209944
Coahuila de Zaragoza                3146771
Colima                               731391
Durango                             1832650
Guanajuato                          6166934
Guerrero                            3540685
Hidalgo                             3082841
Jalisco                             8348151
Michoacán de Ocampo                 4748846
Morelos                             1971520
México                             16992418
Nayarit                             1235456
Nuevo León                          5784442
Oaxaca                              4132148
Puebla                              6583278
Querétaro                           2368467
Quintana Roo                        1857985
San Luis Potosí                     2822255
Sinaloa                             3026943
Sonora                              2944840
Tabasco                             2402598
Tamaulipas                          3527735
Tlaxcala                            1342977
Veracruz de Ignacio de la Llave     8062579
Yucatán                             2320898
Zacatecas                           1622138
Name: pobtot, dtype: int64

In [7]:
response = pd.read_sql('select * from poblacion_table', engine).groupby('NOM_ENT')['POBTOT'].sum()
response = response.to_dict()
response

{'Aguascalientes': 1425607,
 'Baja California': 3769020,
 'Baja California Sur': 798447,
 'Campeche': 928363,
 'Chiapas': 5543828,
 'Chihuahua': 3741869,
 'Ciudad de México': 9209944,
 'Coahuila de Zaragoza': 3146771,
 'Colima': 731391,
 'Durango': 1832650,
 'Guanajuato': 6166934,
 'Guerrero': 3540685,
 'Hidalgo': 3082841,
 'Jalisco': 8348151,
 'Michoacán de Ocampo': 4748846,
 'Morelos': 1971520,
 'México': 16992418,
 'Nayarit': 1235456,
 'Nuevo León': 5784442,
 'Oaxaca': 4132148,
 'Puebla': 6583278,
 'Querétaro': 2368467,
 'Quintana Roo': 1857985,
 'San Luis Potosí': 2822255,
 'Sinaloa': 3026943,
 'Sonora': 2944840,
 'Tabasco': 2402598,
 'Tamaulipas': 3527735,
 'Tlaxcala': 1342977,
 'Veracruz de Ignacio de la Llave': 8062579,
 'Yucatán': 2320898,
 'Zacatecas': 1622138}

In [16]:
%%time
response = pd.read_sql('select sex, avg(age) from survivors group by sex', engine)
### One option would be to send to JS a list of dicts
response = response.to_dict(orient='records')
response

Wall time: 153 ms

[{'nom_ent': 'Aguascalientes', 'sum': 1425607},
 {'nom_ent': 'Baja California', 'sum': 3769020},
 {'nom_ent': 'Baja California Sur', 'sum': 798447},
 {'nom_ent': 'Campeche', 'sum': 928363},
 {'nom_ent': 'Chiapas', 'sum': 5543828},
 {'nom_ent': 'Chihuahua', 'sum': 3741869},
 {'nom_ent': 'Ciudad de México', 'sum': 9209944},
 {'nom_ent': 'Coahuila de Zaragoza', 'sum': 3146771},
 {'nom_ent': 'Colima', 'sum': 731391},
 {'nom_ent': 'Durango', 'sum': 1832650},
 {'nom_ent': 'Guanajuato', 'sum': 6166934},
 {'nom_ent': 'Guerrero', 'sum': 3540685},
 {'nom_ent': 'Hidalgo', 'sum': 3082841},
 {'nom_ent': 'Jalisco', 'sum': 8348151},
 {'nom_ent': 'México', 'sum': 16992418},
 {'nom_ent': 'Michoacán de Ocampo', 'sum': 4748846},
 {'nom_ent': 'Morelos', 'sum': 1971520},
 {'nom_ent': 'Nayarit', 'sum': 1235456},
 {'nom_ent': 'Nuevo León', 'sum': 5784442},
 {'nom_ent': 'Oaxaca', 'sum': 4132148},
 {'nom_ent': 'Puebla', 'sum': 6583278},
 {'nom_ent': 'Querétaro', 'sum': 2368467},
 {'nom_ent': 'Quintana Roo', 'sum': 1857985},
 {'nom_ent': 'San Luis Potosí', 'sum': 2822255},
 {'nom_ent': 'Sinaloa', 'sum': 3026943},
 {'nom_ent': 'Sonora', 'sum': 2944840},
 {'nom_ent': 'Tabasco', 'sum': 2402598},
 {'nom_ent': 'Tamaulipas', 'sum': 3527735},
 {'nom_ent': 'Tlaxcala', 'sum': 1342977},
 {'nom_ent': 'Veracruz de Ignacio de la Llave', 'sum': 8062579},
 {'nom_ent': 'Yucatán', 'sum': 2320898},
 {'nom_ent': 'Zacatecas', 'sum': 1622138}]

In [15]:
### The best aproach is to create the data structures that JS needs
response = pd.read_sql('select nom_ent, sum(pobtot) from poblacion_table group by nom_ent', engine)
response = {
    'labels': response['nom_ent'].to_list(),
    'values': response['sum'].to_list(),
}
response

{'labels': ['Aguascalientes',
  'Baja California',
  'Baja California Sur',
  'Campeche',
  'Chiapas',
  'Chihuahua',
  'Ciudad de México',
  'Coahuila de Zaragoza',
  'Colima',
  'Durango',
  'Guanajuato',
  'Guerrero',
  'Hidalgo',
  'Jalisco',
  'México',
  'Michoacán de Ocampo',
  'Morelos',
  'Nayarit',
  'Nuevo León',
  'Oaxaca',
  'Puebla',
  'Querétaro',
  'Quintana Roo',
  'San Luis Potosí',
  'Sinaloa',
  'Sonora',
  'Tabasco',
  'Tamaulipas',
  'Tlaxcala',
  'Veracruz de Ignacio de la Llave',
  'Yucatán',
  'Zacatecas'],
 'values': [1425607,
  3769020,
  798447,
  928363,
  5543828,
  3741869,
  9209944,
  3146771,
  731391,
  1832650,
  6166934,
  3540685,
  3082841,
  8348151,
  16992418,
  4748846,
  1971520,
  1235456,
  5784442,
  4132148,
  6583278,
  2368467,
  1857985,
  2822255,
  3026943,
  2944840,
  2402598,
  3527735,
  1342977,
  8062579,
  2320898,
  1622138]}